.popup__button{
  background: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 0 18px;
  margin: 0;
  cursor: pointer;
  min-width: 358px;
}
.popup__button:hover{
  opacity: 0.8;
}
@media screen and (max-width: 620px){
  .popup__button{
    font-size: 14px;
    line-height: 17px;  
    padding: 14px 0 14px;
    min-width: 200px;
  }
}