.wrapper{
  margin: 0 auto;
  background: #000000;
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  font-family: 'Inter', 'Arial', sans-serif;
}

@media screen and (max-width: 1024px){
  .wrapper{
    padding: 0 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 425px){
  .wrapper{
    padding: 0;
    box-sizing: border-box;
  }
}