.profile__btn-edit{
  background-image: url(../../../images/profile__btn-edit.svg);
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 0 0 18px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: transparent;
  align-self: center;
  background-size: cover;
  border: none;
}
.profile__btn-edit:hover{
  opacity: 0.6;
}
.profile__btn-edit:focus {
  outline: none;
}
@media screen and (max-width: 425px){
  .profile__btn-edit{
    width: 18px;
    height: 18px;
    margin: 0 0 0 10px;
  }
}