.card__like{
  cursor: pointer;
  margin: 0;
  background-image: url(../../../images/vectorLike.svg);
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
  border: none;
  background-color: transparent;
  width: 22px;
  height: 19px;
}
.card__like:hover{
  opacity: 0.5;
}
.card__like:focus{
  outline: none;
}